/*COLOR*/
/* line 7, ../scss/style.scss */
body, html {
  font-family: 'Open Sans', sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
  color: #656c6d;
  width: 100% !important;
  height: 100% !important;
}

/* line 15, ../scss/style.scss */
h1 {
  font-weight: 700;
}

/* line 18, ../scss/style.scss */
h1 strong {
  font-weight: 900;
}

/* line 21, ../scss/style.scss */
h2 {
  line-height: 20px;
  margin: 0 0 30px 0;
  color: #121d1f;
  font-weight: 400;
  font-size: 34px;
}

/* line 28, ../scss/style.scss */
h3, h4 {
  color: #121d1f;
  font-size: 20px;
  font-weight: 600;
}

/* line 33, ../scss/style.scss */
h5 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 20px;
}

/* line 38, ../scss/style.scss */
p.intro {
  font-size: 16px;
  margin: 12px 0 0;
  line-height: 24px;
  font-family: 'Open Sans', sans-serif;
}

/* line 44, ../scss/style.scss */
a {
  color: #666666;
}

/* line 47, ../scss/style.scss */
a:hover, a:focus {
  text-decoration: none;
  color: #E1AD41;
}

/* line 51, ../scss/style.scss */
ul, ol {
  list-style: none;
}

/* line 54, ../scss/style.scss */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* line 62, ../scss/style.scss */
.clearfix {
  display: inline-block;
}

/* line 65, ../scss/style.scss */
* html .clearfix {
  height: 1%;
}

/* line 68, ../scss/style.scss */
.clearfix {
  display: block;
}

/* line 71, ../scss/style.scss */
ul, ol {
  padding: 0;
}

/* line 74, ../scss/style.scss */
hr {
  height: 4px;
  width: 70px;
  text-align: center;
  position: relative;
  background: #E1AD41;
  margin: 0 auto 30px auto;
  border: 0;
}

/*Navigation*/
/* line 85, ../scss/style.scss */
#nav {
  z-index: 9999;
}

/* line 88, ../scss/style.scss */
#nav.affix {
  position: fixed;
  top: 0;
  width: 100%;
}

/* line 93, ../scss/style.scss */
.navbar-custom {
  margin-bottom: 0;
  background-color: #333333;
  border-radius: 0;
  padding: 10px 0;
}

/* line 99, ../scss/style.scss */
.navbar-custom .navbar-brand {
  font-weight: 600;
}

/* line 103, ../scss/style.scss */
.navbar-custom .navbar-brand:focus {
  outline: 0;
}

/* line 106, ../scss/style.scss */
.navbar-custom .navbar-brand .navbar-brand-toggle {
  padding: 4px 6px;
  font-size: 16px;
  color: #fff;
}

/* line 111, ../scss/style.scss */
.navbar-brand {
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

/* line 115, ../scss/style.scss */
.navbar-brand:hover {
  color: #E1AD41;
}

/* line 118, ../scss/style.scss */
.navbar-custom a {
  color: #cccccc;
}

/* line 121, ../scss/style.scss */
.navbar-custom .nav li a {
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px solid transparent;
  -webkit-transition: border .4s ease-in-out;
  -moz-transition: border .4s ease-in-out;
  -o-transition: border .4s ease-in-out;
  transition: border .4s ease-in-out;
}

/* line 130, ../scss/style.scss */
.navbar-custom .nav li a:hover {
  background-color: transparent;
  outline: 0;
  color: #E1AD41;
  border-bottom: 1px solid #fff;
}

/* line 136, ../scss/style.scss */
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
  outline: 0;
  background-color: transparent;
  color: #E1AD41;
  border-bottom: 1px solid #E1AD41;
}

/* line 142, ../scss/style.scss */
.navbar-custom .nav li.active {
  outline: 0;
}

/* line 145, ../scss/style.scss */
.navbar-custom .nav li.active a {
  background-color: rgba(255, 255, 255, 0.3);
}

/* line 148, ../scss/style.scss */
.navbar-custom .nav li.active a:hover {
  color: #fff;
}

/* line 151, ../scss/style.scss */
.btn-default {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  padding: 10px 20px;
  margin: 0;
  font-size: 16px;
  border-radius: 0;
  -webkit-transition: .6s ease-in-out;
  transition: .6s ease-in-out;
}

/* line 162, ../scss/style.scss */
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
  color: #fff;
  background-color: #E1AD41;
  border-color: #fff;
}

/* line 167, ../scss/style.scss */
.btn-primary {
  color: #fff;
  background-color: #121d1f;
  padding: 10px 20px;
  border-color: #121d1f;
  border-radius: 0;
}

/* line 174, ../scss/style.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
  color: #fff;
  background-color: #E1AD41;
  border-color: #E1AD41;
}

/* line 179, ../scss/style.scss */
.btn-primary i.fa {
  margin-right: 10px;
}

/*Home section*/
/* line 184, ../scss/style.scss */
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: #fff;
  background: url(../assets/img/bg-black.jpg) no-repeat center black;
  -webkit-background-size: contain;
  background-size: contain;
}

/* line 195, ../scss/style.scss */
.section-title.center {
  padding: 25px 0 25px 0;
}

/*About Section*/
/* line 200, ../scss/style.scss */
#about {
  padding: 100px 0;
  background: #f6f6f6;
}

/* line 204, ../scss/style.scss */
#about .about-text {
  margin-left: 10px;
}

/* line 207, ../scss/style.scss */
#about img {
  margin-bottom: 25px;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: inline-block;
}

/* line 214, ../scss/style.scss */
#about p {
  /*margin-top: 20px;
  margin-bottom: 30px;*/
}

/*Skills section*/
/* line 220, ../scss/style.scss */
#skills {
  padding: 100px 0;
  background: #E1AD41;
}

/* line 224, ../scss/style.scss */
#skills h2 {
  color: #fff;
}

/* line 227, ../scss/style.scss */
#skills hr {
  background: rgba(255, 255, 255, 0.3);
}

/* line 230, ../scss/style.scss */
#skills .skill {
  margin-bottom: 40px;
  text-align: center;
  padding: 0;
}

/* line 236, ../scss/style.scss */
#skills .skill h4 {
  font-weight: 600;
  color: #fff;
}

/* line 240, ../scss/style.scss */
.chart {
  position: relative;
  display: inline-block;
  width: 152px;
  height: 152px;
  margin-bottom: 26px;
  text-align: center;
}

/* line 248, ../scss/style.scss */
.chart canvas {
  position: absolute;
  top: 0;
  left: 0;
}

/* line 253, ../scss/style.scss */
.percent {
  display: inline-block;
  font-size: 21px;
  color: #121d1f;
  line-height: 152px;
  z-index: 2;
}

/* line 260, ../scss/style.scss */
.percent:after {
  content: '%';
  margin-left: 0.1em;
  font-size: .8em;
}

/*Portfolio Section*/
/* line 267, ../scss/style.scss */
#portfolio {
  padding: 80px;
  background: #fff;
  background: -moz-linear-gradient(top, #fff 0%, #f4f5f6 49%, #fff 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(49%, #f4f5f6), color-stop(100%, #ffffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #f4f5f6 49%, #ffffff 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #ffffff 0%, #f4f5f6 49%, #ffffff 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff', GradientType=0 );
  /* IE6-9 */
}

/* line 278, ../scss/style.scss */
.categories {
  padding-bottom: 30px;
  text-align: center;
  margin: auto;
}

/* line 283, ../scss/style.scss */
ul.cat li {
  display: inline-block;
}

/* line 286, ../scss/style.scss */
ol.type li {
  display: inline-block;
  margin: 10px 20px;
}

/* line 290, ../scss/style.scss */
ol.type li a {
  background: #E1AD41;
  color: #fff;
  padding: 6px 14px;
}

/* line 295, ../scss/style.scss */
ol.type li a.active {
  background: #121d1f;
  color: #fff;
}

/* line 299, ../scss/style.scss */
ol.type li a:hover {
  background: #121d1f;
  color: #fff;
}

/* line 303, ../scss/style.scss */
.isotope-item {
  z-index: 2;
  margin-right: -1px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* line 309, ../scss/style.scss */
.isotope-hidden.isotope-item {
  z-index: 1;
}

/* line 312, ../scss/style.scss */
.isotope, .isotope .isotope-item {
  -webkit-transition: .8s;
  -moz-transition: .8s;
  -o-transition: .8s;
  transition: .8s;
}

/* line 318, ../scss/style.scss */
.isotope {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  -o-transition-property: height, width;
  transition-property: height, width;
}

/* line 326, ../scss/style.scss */
.isotope .isotope-item {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: moz-transform, opacity;
  -o-transition-property: o-transform, opacity;
  transition-property: transform, opacity;
}

/* line 334, ../scss/style.scss */
.portfolio-item {
  margin: 15px 0;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

/* line 341, ../scss/style.scss */
.portfolio-item:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

/* line 348, ../scss/style.scss */
.portfolio-item .hover-bg {
  height: 260px;
  overflow: hidden;
  position: relative;
}

/* line 353, ../scss/style.scss */
.hover-bg .hover-text {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  color: #fff;
  background: rgba(0, 0, 0, 0.66);
  padding: 33% 0 0 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: all .5s;
}

/* line 365, ../scss/style.scss */
.hover-bg .hover-text > h4 {
  opacity: 0;
  color: #fff;
  font-weight: 400;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

/* line 379, ../scss/style.scss */
.hover-bg:hover .hover-text > h4 {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

/* line 385, ../scss/style.scss */
.hover-bg .hover-text > i {
  opacity: 0;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: all 0.3s;
}

/* line 391, ../scss/style.scss */
.hover-bg:hover .hover-text > i {
  opacity: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}

/* line 397, ../scss/style.scss */
.hover-bg:hover .hover-text {
  opacity: 1;
}

/* line 400, ../scss/style.scss */
#portfolio i.fa {
  font-size: 20px;
  padding: 5px;
  color: #E87E04;
}

/*Achievement Section*/
/* line 407, ../scss/style.scss */
#achievements {
  padding: 100px 0;
  background-color: #E1AD41;
}

/* line 411, ../scss/style.scss */
#achievements h2 {
  color: #fff;
}

/* line 414, ../scss/style.scss */
#achievements hr {
  background: rgba(255, 255, 255, 0.3);
}

/* line 417, ../scss/style.scss */
.achievement-box h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 400;
  margin-left: 5px;
}

/* line 423, ../scss/style.scss */
.achievement-box span.count {
  font-size: 52px;
  font-weight: 600;
  display: block;
  color: #121d1f;
  padding: 0;
  margin: 0;
}

/*Resume Section*/
/* line 433, ../scss/style.scss */
#resume {
  padding: 100px 0;
  background: #f6f6f6;
}

/* line 437, ../scss/style.scss */
.timeline {
  position: relative;
  padding: 0;
  list-style: none;
}

/* line 442, ../scss/style.scss */
.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 40px;
  width: 2px;
  margin-left: -1.5px;
  background-color: #eee;
}

/* line 452, ../scss/style.scss */
.timeline > li {
  position: relative;
  margin-bottom: 50px;
  min-height: 50px;
}

/* line 457, ../scss/style.scss */
.timeline > li:before, .timeline > li:after {
  content: " ";
  display: table;
}

/* line 461, ../scss/style.scss */
.timeline > li:after {
  clear: both;
}

/* line 464, ../scss/style.scss */
.timeline > li .timeline-panel {
  float: right;
  position: relative;
  width: 100%;
  padding: 0 20px 0 100px;
  text-align: left;
}

/* line 471, ../scss/style.scss */
.timeline > li .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

/* line 477, ../scss/style.scss */
.timeline > li .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

/* line 483, ../scss/style.scss */
.timeline > li .timeline-image {
  z-index: 100;
  position: absolute;
  left: 0;
  width: 70px;
  height: 70px;
  margin-left: 0;
  border: 1px solid #eee;
  border-radius: 100%;
  text-align: center;
  background: #fff;
}

/* line 495, ../scss/style.scss */
.timeline > li .timeline-image h4 {
  margin-top: 15px;
  font-size: 11px;
  text-transform: uppercase;
}

/* line 500, ../scss/style.scss */
.timeline > li.timeline-inverted > .timeline-panel {
  float: right;
  padding: 0 20px 0 100px;
  text-align: left;
}

/* line 505, ../scss/style.scss */
.timeline > li.timeline-inverted > .timeline-panel:before {
  right: auto;
  left: -15px;
  border-right-width: 15px;
  border-left-width: 0;
}

/* line 511, ../scss/style.scss */
.timeline > li.timeline-inverted > .timeline-panel:after {
  right: auto;
  left: -14px;
  border-right-width: 14px;
  border-left-width: 0;
}

/* line 517, ../scss/style.scss */
.timeline > li:last-child {
  margin-bottom: 40px;
}

/* line 520, ../scss/style.scss */
.timeline .timeline-heading h4 {
  margin-top: 0;
  text-transform: uppercase;
  font-size: 16px;
}

/* line 525, ../scss/style.scss */
.timeline .timeline-heading h2 {
  margin-top: 30px;
}

/* line 528, ../scss/style.scss */
.timeline .timeline-heading h4.subheading {
  text-transform: none;
  color: #E1AD41;
  font-size: 20px;
}

/* line 533, ../scss/style.scss */
.timeline .timeline-body > p, .timeline .timeline-body > ul {
  margin-bottom: 0;
}

/*Contact Section*/
/* line 538, ../scss/style.scss */
#contact {
  padding: 100px 0 40px 0;
  color: #121d1f;
  background: #E1AD41;
}

/* line 543, ../scss/style.scss */
#contact h2 {
  color: #fff;
}

/* line 546, ../scss/style.scss */
#contact hr {
  background: rgba(255, 255, 255, 0.3);
}

/* line 549, ../scss/style.scss */
#contact h3 {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
}

/* line 555, ../scss/style.scss */
#contact form {
  padding: 30px 0;
}

/* line 558, ../scss/style.scss */
#contact i.fa {
  color: #121d1f;
  margin-bottom: 10px;
}

/* line 562, ../scss/style.scss */
#contact .text-danger {
  color: #E87E04;
}

/* line 565, ../scss/style.scss */
label {
  font-size: 12px;
  font-weight: 400;
  font-family: "Open Sans", sans-serif;
  float: left;
}

/* line 571, ../scss/style.scss */
#contact .form-control {
  display: block;
  width: 100%;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #2c3e50;
  background: none rgba(255, 255, 255, 0.3);
  border: 0;
  border-radius: 2px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -moz-transition: none;
  transition: none;
}

/* line 588, ../scss/style.scss */
#contact .form-control:focus {
  border-color: inherit;
  outline: 0;
  -webkit-box-shadow: transparent;
  box-shadow: transparent;
}

/* line 594, ../scss/style.scss */
.form-control ::-webkit-input-placeholder {
  color: #2c3e50;
}

/* line 597, ../scss/style.scss */
.form-control:-moz-placeholder {
  color: #2c3e50;
}

/* line 600, ../scss/style.scss */
.form-control::-moz-placeholder {
  color: #2c3e50;
}

/* line 603, ../scss/style.scss */
.form-control:-ms-input-placeholder {
  color: #2c3e50;
}

/* line 606, ../scss/style.scss */
#contact .social {
  margin-top: 60px;
}

/* line 609, ../scss/style.scss */
#contact .social ul li {
  display: inline-block;
  margin: 0 20px;
}

/* line 613, ../scss/style.scss */
#contact .social i.fa {
  font-size: 30px;
  padding: 4px 5px;
  color: #fff;
  transition: all .5s;
}

/* line 619, ../scss/style.scss */
#contact .social i.fa:hover {
  color: #121d1f;
}

/* line 622, ../scss/style.scss */
#contact .btn {
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 0;
  padding: 10px 20px;
  color: #fff;
  margin-top: 15px;
}

/* line 630, ../scss/style.scss */
#contact .btn:hover, #contact .btn:focus {
  background-color: #121d1f;
  border: 1px solid #121d1f;
}

/* line 634, ../scss/style.scss */
.btn:active, .btn.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* line 640, ../scss/style.scss */
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
  outline: none;
  /*
  outline-offset: none;
  */
}

/*Footer Section*/
/* line 648, ../scss/style.scss */
#footer {
  background: #121d1f;
  color: #7d8384;
  padding: 30px 0 25px 0;
}

/* line 653, ../scss/style.scss */
#footer p {
  font-size: 13px;
}

/* line 656, ../scss/style.scss */
#footer a {
  color: #a0a5a5;
}

/* line 659, ../scss/style.scss */
#footer a:hover {
  color: #E1AD41;
}

/* Media Queries */
@media (min-width: 768px) {
  /* line 666, ../scss/style.scss */
  header {
    height: 100vh;
    width: auto;
  }

  /* line 670, ../scss/style.scss */
  .intro {
    height: 100%;
    padding: 0;
    text-align: left;
    color: #fff;
  }

  /* line 676, ../scss/style.scss */
  .intro H1 {
    font-size: 60px;
    font-weight: 500;
    letter-spacing: -2px;
  }

  /* line 681, ../scss/style.scss */
  .intro .name {
    font-weight: 600;
  }

  /* line 684, ../scss/style.scss */
  .intro .intro-text {
    max-width: 75%;
  }

  /* line 687, ../scss/style.scss */
  .intro .intro-text p {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
  }

  /* line 693, ../scss/style.scss */
  section {
    padding: 120px 0;
  }

  /* line 696, ../scss/style.scss */
  header .intro-text {
    padding-top: 300px;
    padding-bottom: 200px;
  }

  /* line 700, ../scss/style.scss */
  .timeline:before {
    left: 50%;
  }

  /* line 703, ../scss/style.scss */
  .timeline > li {
    margin-bottom: 100px;
    min-height: 100px;
  }

  /* line 707, ../scss/style.scss */
  .timeline > li .timeline-panel {
    float: left;
    width: 41%;
    padding: 0 20px 20px 30px;
    text-align: right;
  }

  /* line 713, ../scss/style.scss */
  .timeline > li .timeline-image {
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
  }

  /* line 719, ../scss/style.scss */
  .timeline > li .timeline-image h4 {
    font-size: 13px;
    margin-top: 20px;
    line-height: 18px;
    font-weight: 400;
  }

  /* line 725, ../scss/style.scss */
  .timeline > li.timeline-inverted > .timeline-panel {
    float: right;
    padding: 0 30px 20px 20px;
    text-align: left;
  }
}
@media (min-width: 992px) {
  /* line 733, ../scss/style.scss */
  #here-me h1 {
    margin: 10px 0 0;
  }

  /* line 736, ../scss/style.scss */
  .timeline > li {
    min-height: 150px;
  }

  /* line 739, ../scss/style.scss */
  .timeline > li .timeline-panel {
    padding: 0 20px 20px;
  }

  /* line 742, ../scss/style.scss */
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }

  /* line 747, ../scss/style.scss */
  .timeline > li .timeline-image h4 {
    margin-top: 30px;
    font-size: 18px;
    line-height: 26px;
  }

  /* line 752, ../scss/style.scss */
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 0 20px 20px;
  }
}
@media (min-width: 1200px) {
  /* line 758, ../scss/style.scss */
  .timeline > li {
    min-height: 170px;
  }

  /* line 761, ../scss/style.scss */
  .timeline > li .timeline-panel {
    padding: 10px 20px 20px 100px;
  }

  /* line 764, ../scss/style.scss */
  .timeline > li .timeline-image {
    width: 150px;
    height: 150px;
    margin-left: -75px;
  }

  /* line 769, ../scss/style.scss */
  .timeline > li .timeline-image h4 {
    margin-top: 35px;
    font-weight: 400;
  }

  /* line 773, ../scss/style.scss */
  .timeline > li.timeline-inverted > .timeline-panel {
    padding: 10px 100px 20px 20px;
  }
}
@media (min-width: 1920px) {
  /* line 779, ../scss/style.scss */
  .intro {
    background-position: center;
  }
}
